#recipe_container img{
    height: 300px;
} 
div#recipe_container {
    margin-top: 100px;
}
#recipe_container .card-body,#recipe_container .card-text,#recipe_container .card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#recipe_container .card-text{
    padding: 0;
    margin: 0;
}

#recipe_container .col-md-4.mb-5{
    cursor: pointer;
}

.recipe_body{
    background: url(../img/candy.jpeg) repeat;
    background-size: cover;
}

.add_recipe{
    background: url(../img/candy.jpeg) repeat;
    background-size: cover;
}

header.masthead{
    background: none;
}

.base_container{
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(255,0,0,0)),to(rgba(255,0,0.25,0))),url(../img/candy.jpeg);
    background-size: cover;
}

.recipe_detail{
    background:url(../img/candy.jpeg);
    background-size: cover;
}

.add_recipe_body {
    background:url(../img/candy.jpeg);
    background-size: cover;
}

.search-selectors {
    display: flex;
    align-items: center;
}

.search-selector {
    display: block;
    margin-right: 10px;
}

.search-selector:last-child {
    margin-right: 0
}

.add-button {
    color: 	#FFC0CB;
}

.text-gray{
    color: #6c757d!important; 
}

.background-white{
    background:white;
}

@media only screen and (max-width: 1000px) {
    .background-white-mobile{
         background:white;
    }
}

.border-footer-fixed{
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
}

.margin-top-200{
    margin-top:200px;
}

.margin-bottom: {
    margin-bottom: 100px;
}


