{% extends 'base.html' %}
{% block content %}

<h1>my recipes page</h1>

<hr>

   <div class="row">
    <form action="" meathod="POST" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">create</i>
          <input id="recipe_name" name="recipe_name" type="text" class="validate">
          <label for="icon_prefix">Recipe Name</label>
        </div>
        
        <div class="input-field col s12">
          <i class="material-icons prefix">description</i>
          <textarea name="recipe_ingredients" id="recipe_ingredients" class="materialize-textarea"></textarea> 
          <label for="icon_telephone">Recipe Ingredients</label>
        </div>
      </div>
    </form>
  </div>
  
  
         <div class="input-field col s12">
          <i class="material-icons prefix">dvr</i>
          <textarea name="recipe_instructions" id="recipe_instructions" class="materialize-textarea"></textarea> 
          <label for="icon_telephone">Recipe Meathod</label>
        </div>
      </div>
    </form>
  </div>
        
  
{% endblock %}
