{% extends 'base.html'%}
{% block content %}

       {% for recipe in recipes  | batch(3)  %}
           
    <div class="row">

        {% for recipe in row %}
        
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">{{recipe.name}}</h2>
                        <p class="card-text">{{recipe.ingredients}}</p>
                        <p class="card-text">{{recipe.instructions}}</p>
                        <p class="card-text">{{recipe.cooking_time}}</p>
                        <p class="card-text">{{recipe.author}}</p>

                    <div class="card-footer">
                        <a href="{{url_for('recipes')}}" class="btn btn-primary btn-sm">More Info</a>
                        </div>
                      </div>  
                    </div>
                </div>
            </div>
            
        {% endfor %}
        
        </div>
        
      {% endfor %}  
{% endblock%}   