{% block search %}
<div class="row">
  <div class="col-xs-12 inline">
    <div class="search">
      <p class="hidden-xs"><b>Search by:</b></p>
      <div class="search-selectors">
        <select class="search-selector js-search-filter-selector" data-filter="cuisine">
          <option value='' disabled selected>Cuisine</option>
          {% for item in cuisines_json.cuisine | sort %}
            <option value="{{ item }}">{{ item | title }}</option>
          {% endfor %}
        </select>
        <select class="search-selector js-search-filter-selector" data-filter="allergen">
          <option value='' selected>Allergen</option>
          {% for item in allerges_json.allergen | sort %}
            <option value="{{ item }}">{{ item | title }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</div>
{% endblock search %}